#header    { text-align: center; margin-bottom: 2em; }     /* POST TITLE, DATE */
#header h1, #header p { margin: 0; }

.hatnote { font-style: italic; margin-bottom: 14px; } /* HATNOTE */

nav   { padding-left: .5em;  max-width: 69rem; margin: .5rem auto; }   /* TOP NAVIGATION */
nav a { font-weight: bold; }

.side   { width: 15em; margin-left: 1em; margin-right: 1em; flex-shrink: 0; } /* SIDEBAR */
.side p { hyphens: auto; }

.side figure { position: relative; margin: 0; line-height: 0; }  /* Picture */
.shadow      { box-shadow: inset 0 0 10px rgba(0,0,0,.1); position: absolute; top: 0; left: 0; right: 0; bottom: 0; }

.support   { text-align: center; hyphens: none; font-weight: bold; background-color: #fff; box-shadow: 0 0 6px rgba(0, 0, 0, .2); border-radius: 2px; }
.support a { display: inline-block; width: 100%; }
.side-sep  { border-top: 1px solid #aaa; }

@media (max-width: 46em) {
	.side       { margin-top: 2em; width: auto; display: flex; justify-content: space-between; }
	.side > div { margin: 0 1em; }
	.side img   { width: 500px; }

	.side > div > p:first-child,
	.side > div > div:first-child { margin-top: 0; padding-top: 0; }
}
@media (max-width: 46em) and (min-width: 35em) {
	.side > div > div:last-child  { display: none; }
}
@media (max-width: 35em) {
	.side        { flex-wrap: wrap; text-align: center; }
	.side > div  { margin: 0 auto; }
	.side figure { margin-bottom: 1em; }
	.side img    { max-width: 20em; }
}

#disclaimer { font-size: 14px; color: #666; padding-left: 1em; max-width: 69rem; margin: .5rem auto; }

ul.posts, ul.code         { list-style: none; padding-left: 0; }            /* HOME PAGE */
#home ul li a:first-child { display: inline-block; min-width: 11em; vertical-align: top; }
.posts li > span { font-family: monospace; color: #aaa; margin-right: .5em; } /* date */
@media (max-width: 46rem) {
	#home ul li               { margin-bottom: 0.5rem; }
	.posts li                 { padding-left: 7.3em; text-indent: -7.3em; }
	#home ul li a:first-child { min-width: auto; }
}

#home h1, #home h2    { text-align: left; padding: 0; border-bottom: none; }
#home h1 a            { color: #00f; font-size: 1em; }
#home h1 a:after      { content: ""; }
#home h1 span, h1 sup { font-size: 14px; font-weight: normal; }
#home h2              { font-size: 1.1em; margin-bottom: .2em; }
#home h2 + ul         { margin-top: 0; padding-top: 0; }

.page + .page         { margin-top: 2em; }
.related-posts .posts { margin-top: 0; }

/* Prevent long <pre> from breaking layout in between mobile and desktop. */
@media (max-width: 68rem) { pre { white-space: pre-wrap; } }
@media (max-width: 46em)  { pre { white-space: pre; } }

/* SYNTAX */
.pre-wrap { position: relative; }
.pre-copy { position: absolute; top: 2px; padding: 0em .6em; background-color: #f7f7f7;
	        border-bottom: 1px solid #d5d5d5; border-left: 1px solid #d5d5d5; border-radius: 2px;
	        font: 14px/26px sans-serif; color: #000; display: none; box-shadow: -1px 1px 6px rgba(0, 0, 0, .2); }
.pre-copy:hover { color: inherit; text-decoration: none; background-color: #f9f9f9; }
.pre-wrap:hover .pre-copy { display: block; }

.Statement  { color: #af5f00; } .Comment { color: #0000ee; } .Constant { color: #cd0000; }
.Type       { color: #00cd00; } .Special { color: #cd00cd; } .PreProc  { color: #cd00cd; }
.Identifier { color: #008787; } .output  { color: #666666; }

.page aside        { background-color: #fffde8; position: relative; }     /* INLINE ASIDE */
.page aside strong { font-size: 2em; float: left; margin-right: .2em; }
@media (min-width: 65em) {
	.page aside strong { position: absolute; top: 1.1em; left: .5em; top: .55em; }
	.page aside        { padding: .1em 4em; margin-left: -4rem; width: calc(100% + 8rem); }
}
@media (max-width: 54em) {
	.page aside { padding: .1em 1em; }
	.page p       { margin-top: 0; }
}

.page aside.warn strong { color: red; }
.page aside.note strong { color: blue; }
.page aside + aside     { margin-top: 1em; }

@media (min-width: 46em) {
	article { max-width: calc(100% - 17em); }
}
