#header    { text-align: center; margin-bottom: 2em; }     /* POST TITLE, DATE */
#header h1 { margin: 0; }
#header p  { margin: 0; padding: 0; }

.hatnote { font-size: .8em; font-style: italic; margin-bottom: 14px; } /* HATNOTE */

nav   { padding-left: .5em;  max-width: 69rem; margin: .5rem auto; }   /* TOP NAVIGATION */
nav a { font-weight: bold; }

.side   { width: 15em; margin-left: 1em; margin-right: 1em; flex-shrink: 0; } /* SIDEBAR */
.side p { hyphens: auto; }

.side figure { position: relative; margin: 0; line-height: 0; }  /* Picture */
.shadow      { box-shadow: inset 0 0 10px rgba(0,0,0,.1); position: absolute; top: 0; left: 0; right: 0; bottom: 0; }

.support   { text-align: center; hyphens: none; font-weight: bold; background-color: #fff; box-shadow: 0 0 6px rgba(0, 0, 0, .2); border-radius: 2px; }
.support a { display: inline-block; width: 100%; }
.side-sep  { border-top: 1px solid #aaa; }

@media (max-width: 46em) {
	.side       { margin-top: 2em; width: auto; display: flex; justify-content: space-between; }
	.side > div { margin: 0 1em; }
	.side img   { width: 500px; }

	.side > div > p:first-child,
	.side > div > div:first-child { margin-top: 0; padding-top: 0; }
}
@media (max-width: 46em) and (min-width: 35em) {
	.side > div > div:last-child  { display: none; }
}
@media (max-width: 35em) {
	/*
	.side > div:first-child { flex-shrink: .2; }
	*/
	.side        { flex-wrap: wrap; text-align: center; }
	.side > div  { margin: 0 auto; }
	.side figure { margin-bottom: 1em; }
	.side img    { max-width: 20em; }
}

#disclaimer {                                              /* COPYRIGHT NOTICE */
	font-size: 14px;
	color: #666;
	padding-left: 1em;

	max-width: 69rem;
	margin: .5rem auto;
}

ul.posts, ul.code { list-style: none; padding-left: 0; }            /* HOME PAGE */
#home ul li a:first-child {
	display: inline-block;
	min-width: 11em;
	vertical-align: top;
}
.posts li > span { font-family: monospace; color: #aaa; margin-right: .5em; } /* date*/
@media (max-width: 46rem) {
	/*#home ul      { list-style: disc; padding-left: 1rem; }*/
	#home ul li     { margin-bottom: 0.5rem; }
	.posts li       { padding-left: 7.3em; text-indent: -7.3em; }
	/* TODO: align and indent when wrap like above */
	#home ul li a:first-child { min-width: auto; }
}

#home h1, #home h2 { text-align: left; padding: 0; border-bottom: none; }
#home h1 a         { color: #00f; font-size: 1em; }
#home h1 a:after   { content: ""; }
#home h1 span      { font-size: 14px; font-weight: normal; }
#home h2           { font-size: 1.1em; margin-bottom: .2em; }
#home h2 + ul      { margin-top: 0; padding-top: 0; }

.newsbox {                                                 /* NEWSLETTER */
	padding: .5em;
	text-align: center;
}

input, button      { border: 1px solid #aaa; padding: 3px 6px; }
button             { background-color: #e5e5e5; }
input              { width: 12em; }
#nl-turing-test    { display: none; }

.page + .page         { margin-top: 2em; }
.related-posts .posts { margin-top: 0; }

#codefund                 { background-color: #fff; margin-bottom: 1em; box-shadow: 0 0 6px rgba(0, 0, 0, .2); }    /* CODEFUND */
#codefund .cf-wrapper     { font: 14px/1.4 Helvetica, Arial, sans-serif; padding: 15px; text-align: center; }
#codefund a               { display: block; color: #252525; text-decoration: none; }
#codefund a.cf-powered-by { margin-top: 5px; font-size: 11px; color: #678; }
#codefund .cf-text        { margin: 0 6px; }
#codefund .cf-header      { font-size: 12px; color: #678; display: block; }
#codefund .cf-header:before, #codefund .cf-header:after { content: "-"; margin: 0 .5em; opacity: .5; }
