#header    { text-align: center; margin-bottom: 2em; }     /* POST TITLE, DATE */
#header h1 { margin: 0; }
#header p  { margin: 0; padding: 0; }

.hatnote { font-size: .8em; font-style: italic; margin-bottom: 14px; } /* HATNOTE */

nav { padding-left: .5em;                                  /* TOP NAVIGATION */
      display: flex; justify-content: space-between; }
nav a { font-weight: bold; }

#disclaimer {                                              /* COPYRIGHT NOTICE */
	font-size: 14px;
	text-align: right;
	color: #666;
	padding-right: 1em;
}

#home ul { list-style: none; padding-left: 0; }            /* HOME PAGE */
#home ul li a:first-child {
	display: inline-block;
	min-width: 11em;
	vertical-align: top;
}
.posts li > span { font-family: monospace; color: #aaa; margin-right: .5em; } /* date*/
@media (max-width: 46rem) {
	/*#home ul      { list-style: disc; padding-left: 1rem; }*/
	#home ul li     { margin-bottom: 0.5rem; }
	.posts li       { padding-left: 7.3em; text-indent: -7.3em; }
	/* TODO: align and indent when wrap like above */
	#home ul li a:first-child { min-width: auto; }
}

#home h1, #home h2 { text-align: left; padding: 0; border-bottom: none; }
#home h1 a         { color: #00f; font-size: 1em; }
#home h1 a:after   { content: ""; }
#home h1 span      { font-size: 14px; font-weight: normal; }

.newsbox {                                                 /* NEWSLETTER */
	padding: .5em;
	/*
	margin-bottom: 4px;
	*/
	text-align: center;
	background-color: #fff;  /* So the border-bottom from header at same height won't show */
	border: 3px outset #e18ade; border-radius: 2px;
}
.newsbox + .newsbox { margin-top: -3px; }

.floatbox          { float: right; clear: right; margin-left: 8px; width: 15em; }
.floatbox + p      { hyphens: auto; }
input, button      { border: 1px solid #ccc; padding: 3px 6px; }
input              { width: 12em; }
#nl-turing-test    { display: none; }
@media (max-width: 30rem) {
	.floatbox { float: none; margin-left: 0; width: auto; }
}
