/* WEBLOG/CODE HEADER */
#header { text-align: center; margin-bottom: 2em; }
#header h1 { margin: 0; }
#header p { margin: 0; padding: 0; }
#header a { margin: 0 0.5em; }

/* CODE */
#code h1 { text-align: left; }
#code #header h1 { text-align: center; }

/* HOME BUTTON */
#to-home { padding-left: .5em; font-weight: bold; }

/* COPYRIGHT NOTICE */
#disclaimer {
	font-size: 14px;
	text-align: right;
	color: #666;
	padding-right: 1em;

}

/* HATNOTE */
.hatnote { font-size: 0.8em; font-style: italic; }

/* HOME PAGE */
#home ul { list-style: none; padding-left: 1rem; }
#home ul li a:first-child { display: inline-block; min-width: 11em; vertical-align: top; }
@media (max-width: 46rem) {
	#home ul      { list-style: disc; }
	#home ul li   { margin-bottom: 0.5rem; }
	#home ul li a { min-width: auto; }
}

#home h1, #home h2 { text-align: left; padding-bottom: 0; border-bottom: none; }
#home h1 a { color: #00f; font-size: 1em; }
#home h1 a:after { content: ""; }
#home h1 span {
	font-size: 14px;
	font-weight: normal;
}

#home li { position: relative; }
#home li.s:before {
	content: "☞";
	display: inline;
	position: absolute;
	left: -1.3em;
	font-size: 2em;
	text-shadow: 0 0 2px rgba(0,0,0,.2);
}
