---
layout: default
title: arp242 devlog
---

<div class="center-flex">
	<article id="home">
		<div class="page">
			<h1>Devlog</h1>
			<p>Weekly development updates. <a href="/devlog.xml">Feed</a>.</p>

			{% for p in site.devlog %}
				<h2 id="{{ p.date | date: '%Y-%m-%d' }}">
					{{ p.date | date_to_string_space }}
					<a href="#{{ p.date | date: '%Y-%m-%d' }}"></a>
				</h2>
				{{p.content}}
				{% unless forloop.last %}<hr>{% endunless %}
			{% endfor %}
		</div>
	</article>

	{% include _side.html %}
</div>
