---
layout: default
title: arp242.net
---

{% include _top.html %}
<div class="center-flex">
	<article class="page">
		<h1>Posts by tag</h1>
		<p>All posts by tag; some posts have multiple tags and may appear more than once.</p>
		{% assign tags = site.tags | sort:downcase %}

		{% for t in tags %}
			<h2 id="{{t | first}}">{{t | first}}</h2>
			<ul class="posts">
				{% for p in site.tags[t.first] %}
					<li{% if p.standout %} class="s"{% endif %}><span>{{ p.date | date_to_string_space }}</span> <a href="{{ p.url }}">{{ p.title }}</a></li>{% endfor %}
			</ul>
		{% endfor %}
	</article>
</div>
