---
layout: default
title: Code projects
---

<div class="weblog-overview code-projects">
	{% include_relative top.html %}
	
		
<div class="weblog-brief lang-ruby status-stable" data-updated="20161026" data-name="arp242.net" data-status="stable">
	<em>Status: stable, last updated: 26 Oct 2016</em>
	<h2><a href="/code/arp242.net/">arp242.net</a></h2>
	<p>This is my site. There are many like it, but this one is mine.</p>
</div>

	
		
<div class="weblog-brief lang-viml status-experimental" data-updated="20161026" data-name="auto_autoread.vim" data-status="experimental">
	<em>Status: experimental, last updated: 26 Oct 2016</em>
	<h2><a href="/code/auto_autoread.vim/">auto_autoread.vim</a></h2>
	<p>Automatically read files when they&#39;ve changed (this does what &#39;autoread&#39; promised to do but doesn&#39;t do).</p>
</div>

	
		
<div class="weblog-brief lang-viml status-experimental" data-updated="20161030" data-name="auto_mkdir2.vim" data-status="experimental">
	<em>Status: experimental, last updated: 30 Oct 2016</em>
	<h2><a href="/code/auto_mkdir2.vim/">auto_mkdir2.vim</a></h2>
	<p>Automatically create directories</p>
</div>

	
		
<div class="weblog-brief lang-python status-stable" data-updated="20161026" data-name="battray" data-status="stable">
	<em>Status: stable, last updated: 26 Oct 2016</em>
	<h2><a href="/code/battray/">battray</a></h2>
	<p>Display tray icon with battery status; can also run scripts when the status changes</p>
</div>

	
		
<div class="weblog-brief lang-viml status-stable" data-updated="20161026" data-name="complete_email.vim" data-status="stable">
	<em>Status: stable, last updated: 26 Oct 2016</em>
	<h2><a href="/code/complete_email.vim/">complete_email.vim</a></h2>
	<p>Allow completion of email addresses so you can use Vim as a basic &#34;address book&#34;.</p>
</div>

	
		
<div class="weblog-brief lang-viml status-stable" data-updated="20161026" data-name="config" data-status="stable">
	<em>Status: stable, last updated: 26 Oct 2016</em>
	<h2><a href="/code/config/">config</a></h2>
	<p>My configuration files</p>
</div>

	
		
<div class="weblog-brief lang-viml status-finished" data-updated="20161026" data-name="confirm_quit.vim" data-status="finished">
	<em>Status: finished, last updated: 26 Oct 2016</em>
	<h2><a href="/code/confirm_quit.vim/">confirm_quit.vim</a></h2>
	<p>Ask for confirmation before quitting Vim.</p>
</div>

	
		
<div class="weblog-brief lang-python status-stable" data-updated="20161029" data-name="download-npo" data-status="stable">
	<em>Status: stable, last updated: 29 Oct 2016</em>
	<h2><a href="/code/download-npo/">download-npo</a></h2>
	<p>Download episodes from the Dutch npo.nl (formerly `uitzending gemist&#39;) − Download afleveringen van npo.nl (voorheen `uitzending gemist&#39;).</p>
</div>

	
		
<div class="weblog-brief lang-c status-stable" data-updated="20161026" data-name="find-cursor" data-status="stable">
	<em>Status: stable, last updated: 26 Oct 2016</em>
	<h2><a href="/code/find-cursor/">find-cursor</a></h2>
	<p>Simple XLib program to highlight the cursor position.</p>
</div>

	
		
<div class="weblog-brief lang-python status-stable" data-updated="20161026" data-name="frederick" data-status="stable">
	<em>Status: stable, last updated: 26 Oct 2016</em>
	<h2><a href="/code/frederick/">frederick</a></h2>
	<p>Web based feed reader.</p>
</div>

	
		
<div class="weblog-brief lang-viml status-experimental" data-updated="20161030" data-name="globedit.vim" data-status="experimental">
	<em>Status: experimental, last updated: 30 Oct 2016</em>
	<h2><a href="/code/globedit.vim/">globedit.vim</a></h2>
	<p>Use globbing patterns for :edit, :tabedit, etc.</p>
</div>

	
		
<div class="weblog-brief lang-viml status-stable" data-updated="20161026" data-name="helplink.vim" data-status="stable">
	<em>Status: stable, last updated: 26 Oct 2016</em>
	<h2><a href="/code/helplink.vim/">helplink.vim</a></h2>
	<p>Link to Vim help pages with ease.</p>
</div>

	
		
<div class="weblog-brief lang-ruby status-experimental" data-updated="20161026" data-name="markdown-wiki" data-status="experimental">
	<em>Status: experimental, last updated: 26 Oct 2016</em>
	<h2><a href="/code/markdown-wiki/">markdown-wiki</a></h2>
	<p>Simple wiki.</p>
</div>

	
		
<div class="weblog-brief lang-php status-archived" data-updated="20161026" data-name="MediaWiki-ExternalArticlesNg" data-status="archived">
	<em>Status: archived, last updated: 26 Oct 2016</em>
	<h2><a href="/code/mediawiki-externalarticlesng/">MediaWiki-ExternalArticlesNg</a></h2>
	<p>Easier importing of pages from other wikis; when you load a page that doesn&#39;t exist yet it tries to pre-fill the content from another wiki.</p>
</div>

	
		
<div class="weblog-brief lang-php status-archived" data-updated="20161026" data-name="MediaWiki-FontAwesome" data-status="archived">
	<em>Status: archived, last updated: 26 Oct 2016</em>
	<h2><a href="/code/mediawiki-fontawesome/">MediaWiki-FontAwesome</a></h2>
	<p></p>
</div>

	
		
<div class="weblog-brief lang-php status-archived" data-updated="20161026" data-name="MediaWiki-SaneCase" data-status="archived">
	<em>Status: archived, last updated: 26 Oct 2016</em>
	<h2><a href="/code/mediawiki-sanecase/">MediaWiki-SaneCase</a></h2>
	<p>Automatic correct some case mistakes.</p>
</div>

	
		
<div class="weblog-brief lang-php status-archived" data-updated="20161026" data-name="MediaWiki-Scepticismus" data-status="archived">
	<em>Status: archived, last updated: 26 Oct 2016</em>
	<h2><a href="/code/mediawiki-scepticismus/">MediaWiki-Scepticismus</a></h2>
	<p>MediaWiki skin designed to be comfortably readable.</p>
</div>

	
		
<div class="weblog-brief lang-php status-archived" data-updated="20161026" data-name="MediaWiki-Typography" data-status="archived">
	<em>Status: archived, last updated: 26 Oct 2016</em>
	<h2><a href="/code/mediawiki-typography/">MediaWiki-Typography</a></h2>
	<p>MediaWiki extension to replace &#34;quotes&#34; with “smart” quotes.</p>
</div>

	
		
<div class="weblog-brief lang-php status-archived" data-updated="20161026" data-name="MediaWiki-WIGO" data-status="archived">
	<em>Status: archived, last updated: 26 Oct 2016</em>
	<h2><a href="/code/mediawiki-wigo/">MediaWiki-WIGO</a></h2>
	<p>Add and vote for links.</p>
</div>

	
		
<div class="weblog-brief lang-coffeescript status-experimental" data-updated="20161026" data-name="nordavind" data-status="experimental">
	<em>Status: experimental, last updated: 26 Oct 2016</em>
	<h2><a href="/code/nordavind/">nordavind</a></h2>
	<p>Web based audio player.</p>
</div>

	
		
<div class="weblog-brief lang-python status-finished" data-updated="20161026" data-name="operapass" data-status="finished">
	<em>Status: finished, last updated: 26 Oct 2016</em>
	<h2><a href="/code/operapass/">operapass</a></h2>
	<p>Read opera password files (a.k.a. &#34;the wand&#34;).</p>
</div>

	
		
<div class="weblog-brief lang-viml status-stable" data-updated="20161026" data-name="password-bunny" data-status="stable">
	<em>Status: stable, last updated: 26 Oct 2016</em>
	<h2><a href="/code/password-bunny/">password-bunny</a></h2>
	<p>Manage passwords with Vim.</p>
</div>

	
		
<div class="weblog-brief lang-python status-finished" data-updated="20161026" data-name="pkg-plist" data-status="finished">
	<em>Status: finished, last updated: 26 Oct 2016</em>
	<h2><a href="/code/pkg-plist/">pkg-plist</a></h2>
	<p>Make a pkg-plist for a FreeBSD port. Try to be as &#34;automatic&#34; as possible. </p>
</div>

	
		
<div class="weblog-brief lang-python status-experimental" data-updated="20161026" data-name="pkg_clearleaves" data-status="experimental">
	<em>Status: experimental, last updated: 26 Oct 2016</em>
	<h2><a href="/code/pkg_clearleaves/">pkg_clearleaves</a></h2>
	<p>Easily remove &#34;leave&#34; packages; packages on which no other packages depend. Works on multiple platforms.</p>
</div>

	
		
<div class="weblog-brief lang-shell status-stable" data-updated="20161026" data-name="pkg_sanity" data-status="stable">
	<em>Status: stable, last updated: 26 Oct 2016</em>
	<h2><a href="/code/pkg_sanity/">pkg_sanity</a></h2>
	<p>Some basic sanity checks for FreeBSD packages</p>
</div>

	
		
<div class="weblog-brief lang-viml status-experimental" data-updated="20161026" data-name="powersearch.vim" data-status="experimental">
	<em>Status: experimental, last updated: 26 Oct 2016</em>
	<h2><a href="/code/powersearch.vim/">powersearch.vim</a></h2>
	<p>Several search-related enhancements.</p>
</div>

	
		
<div class="weblog-brief lang-coffeescript status-finished" data-updated="20161026" data-name="robots" data-status="finished">
	<em>Status: finished, last updated: 26 Oct 2016</em>
	<h2><a href="/code/robots/">robots</a></h2>
	<p>Reproduction of the 1980 “classic” robots game for BSD UNIX written by Ken Arnold. You can play it in your browser at: http://arp242.net/robots/</p>
</div>

	
		
<div class="weblog-brief lang-python status-stable" data-updated="20161026" data-name="sanitize_files" data-status="stable">
	<em>Status: stable, last updated: 26 Oct 2016</em>
	<h2><a href="/code/sanitize_files/">sanitize_files</a></h2>
	<p>Basic cleanup of your code</p>
</div>

	
		
<div class="weblog-brief lang-go status-experimental" data-updated="20161027" data-name="sconfig" data-status="experimental">
	<em>Status: experimental, last updated: 27 Oct 2016</em>
	<h2><a href="/code/sconfig/">sconfig</a></h2>
	<p>A simple and functional configuration file parser for Go.</p>
</div>

	
		
<div class="weblog-brief lang-python status-finished" data-updated="20161026" data-name="spamdb-curses" data-status="finished">
	<em>Status: finished, last updated: 26 Oct 2016</em>
	<h2><a href="/code/spamdb-curses/">spamdb-curses</a></h2>
	<p>Curses tools to interface with OpenBSD&#39;s spamdb(8), which is a part of spamd(8).</p>
</div>

	
		
<div class="weblog-brief lang-viml status-stable" data-updated="20161026" data-name="startscreen.vim" data-status="stable">
	<em>Status: stable, last updated: 26 Oct 2016</em>
	<h2><a href="/code/startscreen.vim/">startscreen.vim</a></h2>
	<p>Customize Vim&#39;s start screen.</p>
</div>

	
		
<div class="weblog-brief lang-go status-experimental" data-updated="20161026" data-name="trackwall" data-status="experimental">
	<em>Status: experimental, last updated: 26 Oct 2016</em>
	<h2><a href="/code/trackwall/">trackwall</a></h2>
	<p>DNS proxy and filter − /etc/hosts on steroids.</p>
</div>

	
		
<div class="weblog-brief lang-viml status-stable" data-updated="20161026" data-name="undofile_warn.vim" data-status="stable">
	<em>Status: stable, last updated: 26 Oct 2016</em>
	<h2><a href="/code/undofile_warn.vim/">undofile_warn.vim</a></h2>
	<p>Warn when using the undofile</p>
</div>

	
		
<div class="weblog-brief lang-viml status-experimental" data-updated="20161026" data-name="xdg-open.vim" data-status="experimental">
	<em>Status: experimental, last updated: 26 Oct 2016</em>
	<h2><a href="/code/xdg-open.vim/">xdg-open.vim</a></h2>
	<p> Run xdg-open from Vim; re-implements netrw&#39;s gx.</p>
</div>

	
</div>
<script>
{% include script/main.js  %}
</script>
