<table class="bigtable">
	<thead>
		<tr>
			<th class="age">age</th>
			<th class="author">author</th>
			<th class="description">description</th>
		</tr>
	</thead>
	<tbody class="stripes2">
		{entries%filelogentry}
	</tbody>
</table>
