<div class="description">{desc|strip|escape|websub|nonempty}</div>

<!-- TODO: Make this work -->
<a href="{url|urlescape}">Download</a>


<table id="changesetEntry">
	<tr>
		<th class="author">author</th>
		<td class="author">{author|obfuscate}</td>
	</tr>
	<tr>
		<th class="date">date</th>
		<td class="date age">{date|rfc822date}</td>
	</tr>
</table>

<div class="overflow">
	<div class="sourcefirst linewraptoggle">line wrap: <a class="linewraplink" href="javascript:toggleLinewrap()">on</a></div>
	<div class="sourcefirst"> line source</div>
	<pre class="sourcelines stripes4 wrap bottomline">{text%fileline}</pre>
</div>
