<table class="bigtable">
	<thead>
		<tr>
		<th class="name">name</th>
		<th class="size">size</th>
		<th class="permissions">permissions</th>
		</tr>
	</thead>

	<tbody class="stripes2">
		{dentries%direntry}
		{fentries%fileentry}
	</tbody>
</table>
