html {
  background-color: #222222; }

body {
  width: 22cm;
  height: 29.7cm;
  background-color: white;
  padding: 0;
  margin: 0;
  font-family: "Fontin";
  font-size: 12px;
  line-height: 1.3em;
  position: relative; }

.top {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.3cm;
  border-bottom: 0.1cm solid #666666;
  width: 21.8cm;
  padding-left: 0.2cm;
  padding-top: 0.1cm; }

.box {
  position: absolute;
  width: 10.798cm;
  height: 13.35cm;
  padding: 0.1cm 0.1cm;
  margin: 0; }
  .box p {
    margin-top: 0;
    max-width: 75%; }

.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 21.75cm;
  height: 0.8cm;
  padding-left: 0.2cm;
  padding-top: 0.1cm;
  border-top: 0.1cm solid #666666; }

.top-left {
  left: 0;
  top: 1.5cm;
  background-color: #eeeeee; }

.top-right {
  right: 0;
  top: 1.5cm;
  background-color: #dddddd; }

.bottom-left {
  left: 0;
  bottom: 1cm;
  background-color: #dddddd; }

.bottom-right {
  right: 0;
  bottom: 1cm;
  background-color: #eeeeee; }
  .bottom-right .photowrap1 {
    width: 1.5cm; }
  .bottom-right .photowrap2 {
    width: 1.364cm; }
  .bottom-right .photowrap3 {
    width: 1cm; }
  .bottom-right .photowrap4 {
    width: 1cm; }

.photo {
  width: 3cm;
  height: 3cm;
  border-radius: 3cm;
  position: absolute;
  left: 9.5cm;
  top: 13.6cm;
  z-index: 1; }

.photowrap {
  height: 1em;
  float: left;
  clear: left; }

.border-hor {
  border-top: 0.05cm solid #666666;
  position: absolute;
  width: 22cm;
  top: 15.075cm;
  height: 0.05cm; }

.border-ver {
  border-left: 0.05cm solid #666666;
  position: absolute;
  height: 27.2cm;
  left: 10.975cm;
  top: 1.5cm; }
