.center { text-align: center; }

.author { text-align: center; }
.legal { font-size: 12px; }
.dedication { text-align: center; }

.toc-fixed {
	background-color: #ffe;
	border-right: 1px solid #aaa;
	box-shadow: 2px 0 6px rgba(0,0,0,.5);

	position: fixed;
	left: 0;
	top: 0;
	overflow-y: scroll;
	height: 100%;
	max-width: 500px;
	z-index: 10;
	font-size: 16px;
}
.toc-fixed h2 { border-top: 0; margin: 0; padding: 0; font-size: 1em; }

#toc-button { display: none; }
.toc-fixed #toc-button {
	/* It's on the left because position: fixed is always relative to the document.
		* I'd prefer to put it on the right, but doing that well that works
		* on all screen sizes is a bit tricky.
		* So I'm lazy for now, and just put it on the left...
		*/
	position: fixed;
	top: 0;
	left: 0;

	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-radius: 2px;

	background-color: #ffe;
	display: block;
	font-size: 65px;
	cursor: pointer;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	vertical-align: middle;
	z-index: 20;
}
.toc-fixed #toc-button:hover {
	color: #00f
}

.toc-collapsed #toc-button {
	left: 0px;
}

.toc-collapsed {
	overflow: hidden;
	width: 60px;
	height: 60px;
}

@media (max-width: 46rem) {
	.toc-fixed #toc-button { width: 30px; height: 30px; font-size: 35px; line-height: 30px; }
	.toc-collapsed { width: 30px; height: 30px; }
}

#toc a {
	display: inline-block;
	width: 100%;
	padding-left: 5px;
	margin-left: -5px;
}

#toc .active {
	background-color: #ddd;
}

/* Don't number subsections. */
#toc ol[type="a"] {
	list-style-type: none;
	padding-left: .5em;
}
/* Preface. */
#toc ol[type="I"] > li:first-child {
	list-style-type: none;
	margin-left: -1em;
}
#toc ol[type="I"] > li:first-child > ol > li {
	margin-top: 0;
	font-weight: normal;
}

#toc > ol[type="I"] > li {
	font-weight: bold;
}
#toc > ol[type="I"] > li ol {
	font-weight: normal;
	padding-left: 1em;
}

#toc > ol[type="I"] > li > ol > li {
	font-weight: bold;

}
#toc > ol[type="I"] > li > ol > li ol {
	margin-top: 0;
	font-weight: normal;
}

/* TODO: button to show. */
#toc > ol > li > ol > li > ol > li > ol > li {
	display: none;
}
