---
layout: default
---

{% if page.redirect %}
	<p><a href="https://github.com/Carpetsmoker/{{ page.link }}">Redirect</a></p>
{% endif %}

{% if page.redirect == None %}
<div class="center" id="to-home"><a href="/">Home</a></div>
<div class="page" id="code">
	<div id="header">
		<h1>{{ page.title }}</h1>

		{% if page.pre1 %}
			{{ page.pre1 | markdownify }}
		{% endif %}
		{% if page.pre2 %}
			{{ page.pre2 | markdownify }}
		{% endif %}

		<a href="https://github.com/Carpetsmoker/{{ page.link }}/archive/{{ page.last_version }}.tar.gz">Download</a>
		/
		<a href="https://github.com/Carpetsmoker/{{ page.link }}/issues">Issue tracker</a>
		/
		<a href="https://github.com/Carpetsmoker/{{ page.link }}">Source code</a>
	</div>
	{{ content }}
</div>
{% endif %}
