<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="go-import" content="{{page.pkg}} git {{page.git}}.git">
	<meta name="go-source" content="{{page.pkg}} {{page.git}} {{page.git}}/tree/master/{/dir}/ {{page.git}}/tree/master/{/dir}">
	<meta http-equiv="refresh" content="0; url={{page.git}}">
</head>
<body>
	<p>
		This is the <code>{{page.pkg}}</code> Go package, which can be imported as <code>{{page.pkg}}</code>.
		Its homepage is at <a href="{{page.git}}">{{page.git}}</a>.
	</p>
</body>
</html>
