<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	{% if page.pkg == 'uni'%}
	<meta name="go-import" content="arp242.net/{{page.pkg}}/v2 git https://github.com/arp242/{{page.pkg}}.git">
	<meta name="go-source" content="arp242.net/{{page.pkg}}/v2 https://github.com/arp242/{{page.pkg}} https://github.com/arp242/{{page.pkg}}/tree/master/{/dir}/ https://github.com/arp242/{{page.pkg}}/tree/master/{/dir}">
	{% else %}
	<meta name="go-import" content="arp242.net/{{page.pkg}} git https://github.com/arp242/{{page.pkg}}.git">
	<meta name="go-source" content="arp242.net/{{page.pkg}} https://github.com/arp242/{{page.pkg}} https://github.com/arp242/{{page.pkg}}/tree/master/{/dir}/ https://github.com/arp242/{{page.pkg}}/tree/master/{/dir}">
	{% endif %}
	<meta http-equiv="refresh" content="0; url=https://github.com/arp242/{{page.pkg}}">
</head>
<body>
	<p>
		This is the <code>{{page.pkg}}</code> Go package, which can be imported as <code>arp242.net/{{page.pkg}}</code>.
		Its homepage is at <a href="https://github.com/arp242/{{page.pkg}}">https://github.com/arp242/{{page.pkg}}</a>.
	</p>
</body>
</html>
