---
layout: default
---

<div class="weblog-article">
	<span class="weblog-back">
		<a href="/">Home</a>
		<a href="/weblog/">Weblog index</a>
	</span>

	<h1>{{ page.title }}</h1>
	<p>Written on {{ page.date | date_to_string }}</p>

	{{ content }}

	<div class="weblog-comments">
		<h2>Comments</h2>
		You can mail me at <a href="mailto:martin@arp242.net">martin@arp242.net</a> for feedback etc. No, I don’t have
		Twitter. If your feedback is less than 140 characters it is probably not worth sending.

		<!--
		<div class="comments-list">
			{% comments %}
		</div>

		<div class="feedbackform">
			<h3>Post a new comment</h3>
			<form method="post" action="http://comments.arp242.net/new-comment">
				<input type="hidden" name="id" value="{{ page.id }}">

				<p>
					<input type="text" id="comment-name" name="name" placeholder="Your name (mandatory)">
					<input type="text" id="comment-email" name="email" placeholder="Your email (optional, will not show)">
				</p>

				<p>
					<textarea id="comment-text" name="text" rows="10" cols="50" placeholder="Ramble away here…"></textarea>
					<br>
					No tags, but all your newlines/whitespace are preserved as-is.
				</p>

				<p>
					<label for="comment-notify">Email me when someone adds a comment</label>
					<input type="checkbox" id="comment-notify" name="notify">
				</p>

				<p>
					<input type="text" id="turingtest" name="turingtest" placeholder="Prove you’re a human by entering the number 42 here">
				</p>

				<p>
					<button type="submit">Let’s go</button>
				</p>
			</form>
		</div>
		-->
	</div>
</div>
