---
layout: default
---

<div class="center" style="text-align: right; padding-right: .5em;"><a href="/cv" style="float: right">Heya, I am looking for a job :-)</a></div>
<div class="center" id="to-home"><a href="/">Home</a></div>
<div class="page">
	<div id="header">
		<h1>{{ page.title }}</h1>
		<p>Written on {{ page.date | date_to_string }}{% if page.updated %} − last updated on {{ page.updated }}{% endif %}.</p>
	</div>
	{{ content }}

	<div class="postscript">
		<strong>Feedback</strong>
		<p>You can mail me at <a href="mailto:martin@arp242.net">martin@arp242.net</a> or
			<a href="https://github.com/Carpetsmoker/arp242.net/issues/new">
				create a GitHub issue</a> for feedback, questions, etc.</p>
	</div>
</div>
